<section class="discover">
  {{input
    class="search"
    type="search"
    placeholder="Search for your favourite artist"
    value=queryField
    action="runSearch"}}
  {{outlet}}
</section>
<section class="results">
  <ul>
    {{#each artist in model}}
      <li>Popularity: {{artist.popularity}} - <strong>{{artist.name}}</strong></li>
    {{else}}
      No results found for {{queryField}}
    {{/each}}
  </ul>
</section>
